
@media (min-width: 1140px) {
    .container {
        max-width: 1200px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

img {
    max-width: 100%
}

header {
    font-family: 'Inter', sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');
body {
    font-family: 'Commissioner', sans-serif !important;
    
  }

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/special';
@import 'blocks/cart';
@import 'blocks/services';
@import 'blocks/video';
@import 'blocks/reviews';
@import 'blocks/blog';
@import 'blocks/footer';
@import 'blocks/offer';
@import 'blocks/next_inst';
@import 'blocks/partner';
@import 'blocks/FAQ';
@import 'blocks/pop_up';
@import 'blocks/media';