.blog .card {
    border: none;
    margin-bottom: 26px;
}

.special__title__blog {
    h2 {
        font-size: 33px;
    }
}

.blog {
    padding-top: 27px;
    padding-bottom: 104px;
}

.blog .card .card-body {
    padding-left: 0px;
}

.blog .card img{
    border-radius: 7px;
}

.blog .card .card-body h5 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 5px;
}

.blog .card .card-body .card-text {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 0.8;
    margin-top: 20px;
}

.blog .card .card-body .btn {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.8;
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 17px 93px;
    max-width: 278px;
    margin-top: 6px;
}


.blog_btn {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #4A4D61;
    max-width: 100%;
    border: 1px solid #000000;
    border-radius: 3px;
    background: none;
    position: relative;
    margin-top: 24px;
    padding-top: 19px;
}



.blog_btn::after {
    content: '+';
    position: absolute;
    width: 27px;
    height: 21px;
    font-size: 44px;
    left: 38%;
    top: 25%;
}

.btn__item {
    margin-top: 30px;
    margin-bottom: 57px;
}

.btn__item_blog {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin-right: 17px;
}

.btn__item_blog:nth-child(1) {
    background: #E95348;
    padding: 9px 24px;
}

.btn__item_blog:nth-child(2) {
    background: #F28A1A;
    padding: 9px 24px;
}

.btn__item_blog:nth-child(3) {
    background: #697EF9;
    padding: 9px 24px;
}

.btn__item_blog:nth-child(4) {
    background: rgba(246, 202, 71, 0.9);
    padding: 9px 21px;
}

.btn__item_blog:nth-child(5) {
    background: #3C4043;
    padding: 9px 27px;
}

.blog .card .card-body .btn_next_blog {
    border: 1px solid #F6CA47;
}