.cart {
    background: rgba(217, 217, 217, 0.1);
    padding-top: 40px;
    padding-bottom: 60px;
}

.cart .wrapper .__item {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 276px;
    padding: 20px 18px 36px 21px;
    margin-bottom: 30px;
}

.cart .special__title {
    margin-bottom: 50px;
}

.cart_img { 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 39px;
}

.cart .wrapper .__item:nth-child(1)  {
    padding: 25px 18px 36px 18px;
    .cart_img {
        margin-bottom: 34px;
        img {
            background: #F4F4F4;  
            padding: 8px;
            border-radius: 5px;
        }
    }
}

.cart .wrapper .__item:nth-child(2)  {
    padding: 25px 18px 36px 18px;
    .cart_img {
        margin-bottom: 33px;
        img {
            background: #F4F4F4;  
            padding: 8px;
            border-radius: 5px;
        }
    }
}
.cart .wrapper .__item:nth-child(3)  {
    padding: 29px 18px 36px 18px;
    .cart_img {
        margin-bottom: 26px;
        img {
            background: #F4F4F4;  
            padding: 5px;
            border-radius: 5px;
        }
    }
    h3 {
        margin-left: -13px;
    }
    .btn_cart {
        margin-top: 35px;
    }
}
.cart .wrapper .__item:nth-child(4)  {
    padding: 29px 18px 36px 18px;
    .cart_img {
        margin-bottom: 36px;
        img {
            background: #F4F4F4;  
            padding: 12px;
            border-radius: 5px;
        }
    }
    h3 {
        max-width: 250px;
    }
    p {
        margin-left: 40px;
    }
    .btn_cart {
        margin-top: 24px;
    }
}

.cart .wrapper .__item:nth-child(5)  {
    max-width: 279px;
    padding: 20px 18px 36px 21px;
    .cart_img {
        margin-bottom: 37px;
    }
    h3 {
        max-width: 250px;
        margin-right: 4px;
        margin-bottom: 40px;
    }
    p {
        margin-left: 52px;
    }
    .btn_cart {
        margin-top: 22px;
    }
}
.cart .wrapper .__item:nth-child(6)  {
    max-width: 275px;
    padding: 20px 22px 36px 18px;
    .cart_img {
        margin-bottom: 34px;
    }
    h3 {
        max-width: 210px;
        margin-right: 12px;
        margin-bottom: 40px;
    }
    p {
        margin-left: 32px;
    }
    .btn_cart {
        margin-top: 25px;
    }
}
.cart .wrapper .__item:nth-child(7)  {


    p {
        margin-left: 42px;
    }
    .btn_cart {
        margin-top: 18px;
    }
}
.cart .wrapper .__item:nth-child(8)  {
    padding: 20px 18px 36px 18px;
    .cart_img {
        margin-bottom: 32px;
    }
    h3 {
        max-width: 210px;
        margin-right: 3px;
        margin-bottom: 43px;
    }
    p {
        margin-left: 40px;
    }
    .btn_cart {
        margin-top: 24px;
    }
}
.cart .wrapper .__item:nth-child(9)  {
    padding: 19px 18px 36px 18px;
    .cart_img {
        margin-bottom: 32px;
    }
    h3 {
        max-width: 210px;
        margin-right: 12px;
        margin-bottom: 43px;
    }
    p {
        margin-left: 27px;
    }
    .btn_cart {
        margin-top: 35px;
    }
}
.cart .wrapper .__item:nth-child(10)  {
    padding: 20px 18px 36px 18px;
    .cart_img {
        margin-bottom: 36px;
    }
    h3 {
        max-width: 210px;
        margin-right: 3px;
        margin-bottom: 39px;
    }
    p {
        margin-left: 40px;
    }
    .btn_cart {
        margin-top: 34px;
    }
}
.cart .wrapper .__item:nth-child(11)  {
    padding: 18px 18px 36px 18px;
    .cart_img {
        margin-bottom: 34px;
    }
    h3 {
        max-width: 210px;
        margin-right: -1px;
        margin-bottom: 46px;
    }
    p {
        margin-left: 43px;
    }
    .btn_cart {
        margin-top: 31px;
    }
}
.cart .wrapper .__item:nth-child(12)  {
    padding: 20px 18px 36px 18px;
    .cart_img {
        margin-bottom: 32px;
    }
    h3 {
        max-width: 210px;
        margin-right: 3px;
        margin-bottom: 43px;
    }
    p {
        margin-left: 40px;
    }
    .btn_cart {
        margin-top: 34px;
    }
}
.cart .wrapper .__item h3{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
    max-width: 221px;
}

.cart .wrapper .__item p{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 33px;
    float: left;
    width: 100%;
    margin-left: 32px;
}

.btn_cart {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 100%;
    margin-top: 32px;
    background: #F7D04C;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn_cart:hover {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.btn_next_blog:hover {
    background: #000000;
    color: #fff;
}

.cart .wrapper .__item_two:nth-child(4) .cart_img {
    margin-bottom: 19px;
}
.cart .wrapper .__item_two:nth-child(4) h3 {
    margin-bottom: 23px;
}

.cart .wrapper .__item_two:nth-child(4) .btn_cart {
    margin-top: 34px;
}