.accordion-button:not(.collapsed) {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    background: rgb(254, 206, 26);
    border: 1px solid #000000;
}

.accordion-button:focus {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    background: rgb(254, 206, 26);
    border: 1px solid #000000;
    box-shadow: none;
}

.accordion-button {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    background: rgb(254, 206, 26);
    border: 1px solid #000000;
    padding: 13px 13px 13px 31px;
    position: relative;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.accordion-body {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #000000;
}

.accordion-item {
    border: none;
}

.accordion-button::after {
    content: "";
    flex-shrink: 0;
    width: 34px;
    height: 0px;
    margin-left: auto;
    border: 2px #000000 solid;
    transition: transform .2s ease-in-out;
    background-image: none;
    background: #000000;
}

.accordion-button::before {
    content: "";
    position: absolute;
    flex-shrink: 0;
    width: 0px;
    height: 34px;
    right: 28px;
    border-right: 4px #000000 solid;
    transition: transform .2s ease-in-out;
    background-image: none;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    span {
        width: 83%;
    }
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(-135deg);
}

.accordion-button:not(.collapsed)::before {
    background-image: none;
        transform: rotate(45deg);
}

.faq {
    padding-top: 50px;
    padding-bottom: 90px;
}

.accordion .faq__subtitle h2{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #08193A;
    margin-top: 64px;
    margin-bottom: 28px;
}

.accordion .faq__subtitle_two h2{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #08193A;
    margin-top: 52px;
    margin-bottom: 31px;
}