footer {
    border-top: 1px rgba(#000000, 0.2) solid ;
    margin-top: 13px;
    padding-top: 15px;
    padding-bottom: 31px;
}

.footer_logo {
    max-width: 132px;
    margin-bottom: 45px;
}

.icon_social ._item a{
    margin-right: 26px;
    margin-bottom: 19px;
}

.download {
    margin-top: 37px;
}

.download a {
    background: #F6CA47;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    padding: 13px 26px 13px 12px;
    img {
        margin-right: 17px;
    }
}

._item-title ._title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 21px;
}

.nav .wrapper {
    padding-left: 0px;
}
.items_menu .nav {
    margin-right: 25px;
}

.footer_item {
    margin-right: 41px;
    margin-left: 10px;
}

.nav .wrapper ._item a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
}

.nav .wrapper ._item {
    margin-bottom: 5px;
}

.nav .wrapper ._item:first-child {
    margin-bottom: 5px;
}

.help {
    background: #F6CA47;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    padding: 11px 32px;
    img {
        margin-right: 6px;
    }
}

.help:hover {
    color: rgba(0, 0, 0, 0.9);
}

.footer .wrapper ._items {
    margin-top: 24px;
    padding: 0px;
    img {
        margin-right: 9px;
        margin-bottom: 17px;
    }
}

.footer .wrapper ._items img:nth-child(4){
margin-right: 0px;
}

.footer .wrapper {
    max-width: 253px;
}

.footer_margin {
    margin-top: 16px;
}

.items_menu {
    margin-left: 29px;
}

.download a:hover {
    background: none;
}

.help:hover {
    background: none;
}