.header_one {
    background: #000000;
    display: block; 
    padding-top: 25px;
    padding-bottom: 25px;
}


.header_two {
    background: #000000;
    display: none;
}
.header_foure {
    background: #000000;
    display: none;
}

.btn_header__phone {
    display: none;
}
.header_three {
    background: #000000;
    display: none;
}
.header_foure {
    background: #000000;
    display: none;
}
.header_all {
    .header_one {
        display: block;
    }
    .header_two {
        display: block;
    }
    .header_three {
        display: none;
    }
    .header_foure {
        display: none;
    }
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.btn-primary:active:focus {
    box-shadow: none;
}
.btn-primary:active {
    border: 1px solid #F7D04C;
    background: none;
    color: #F7D04C;
}

.btn-primary:focus {
    border: 1px solid #F7D04C;
    background: none;
    color: #F7D04C;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}


.nav-link  {

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;

}

li {
    list-style: none;
}

.nav-link:focus, .nav-link:hover {
    color: #FFFFFF;
}

.btn-primary {
    border: 1px solid #F7D04C;
    border-radius: 7px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #F7D04C;
    background: none;
    padding: 15px 39px 15px 39px;
    max-width: 180px;
    margin-right: 4px;
}

.btn-primary:hover {
    color: #000000;
    background: #F7D04C;
    border: 1px solid #F7D04C;
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}



.btn_two {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 7px;
    padding: 17px 45px 15px 45px;
    border: none;
    margin-left: 18px;
    max-width: 137px;
}

.btn_two:hover {
    background: none;
    color: #FFFFFF;
    padding: 16px 44px 14px 44px;
    border: 1px solid #FFFFFF;
}

.dropdown {
    display: flex;
}

.d-flex {
    align-items: center;
}

.nav-link_submenu {
    position: relative;
}


.submenu {
    -webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
  -webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
    background: #F6CA47;
    border-radius: 10px;
  position: absolute;
  top: 59px;
  left: -47%;
  width: 426px;
  z-index: 10;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  padding: 58px 0 44px 32px;
  transition-delay:0.5s;
}

.nav-link_submenu:hover .submenu{
    -webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    transition-delay:0s;
}

.submenu li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 19px;
}


.submenu li {
    margin-bottom: 13px;
}

.submenu li:hover {
    a {
        font-weight: 700;
        border-bottom: 1px #FF992B solid;
        padding-bottom: 5px;
    }
}


header .__item {
    padding-left: 0px;
    margin-bottom: 0px;
}

.logo_promo {
    max-width: 158px;
    cursor: pointer;
}


.drop_down a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    img {
        margin-right: 9px;
    }
}

.user_name span{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #F6CA47;
    margin-right: 17px;
}
.notification-count span {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    background: #FFFFFF;
    width: 15px;
    border-radius: 50%;
    padding: 1px 4px 2px 4px;
}

.icon_notification {
    position: relative;
    width: 17px;
}
.accordion-button_notification{
    margin-left: 0px;
}

.user_notification {
    max-width: 102px;
    margin-right: 17px;
    margin-left: auto;
}

.notification-count {
    position: absolute;
    top: 11px;
    right: -7px;
}



.drop_down  .submenu {
  top: 38px;
    left: -9%;
    width: 81px;
  padding: 24px 0px 30px 0px;
}


.drop_down .submenu li:hover {
    a {
        font-weight: 500;
        background: #FF992B;


    }
}


.drop_down .submenu li a {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
    padding-left: 11px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.drop_down .__item>li:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 42%;
    width: 10px;
    height: 32px;
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px);
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s;
    left: 34px;
    bottom: -12px;
    border: 17px solid transparent;
    border-bottom: 24px solid #F6CA47;
    transition-delay:0.5s;
}


  .nav-ul_submenu>.nav-link_submenu:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 58%;
    width: 10px;
    height: 32px;
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px);
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s;
    left: 92px;
    bottom: -12px;
    border: 17px solid transparent;
    border-bottom: 24px solid #F6CA47;
    transition-delay:0.5s;
}

  .nav-ul_submenu li:hover:before {
    transform: translate(-50%, 0);
    opacity: 1;
    transition-delay:0s;
  }
  .drop_down .__item li:hover:before {
    transform: translate(-50%, 0);
    opacity: 1;
    transition-delay:0s;
  }


.nav-link_submenu .lang_arrow::before {
    position: absolute;
    content: '';
    background: url(../../icons/arrow.svg) no-repeat;
    width: 9px;
    height: 9px;
    left: 106%;
    top: 27%;
}

.drop_down  .submenu_admin {
    top: 75px;
      left: -109%;
      max-width: 242px;
    padding: 30px 4px 21px 19px;
  }
  
  

  
  
  .drop_down .submenu_admin li a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
      text-decoration: none;
      margin-bottom: 10px;
      
  }
  
  .drop_down .__item-admin>li:before {
      content: "";
      position: absolute;
      z-index: 5;
      left: 50%;
      top: 40%;
      width: 10px;
      height: 32px;
      -webkit-transform: translate(-50%, 20px);
      transform: translate(-50%, 20px);
      opacity: 0;
      -webkit-transition: .2s;
      transition: .2s;
      left: 34px;
      bottom: -12px;
      border: 17px solid transparent;
      border-bottom: 24px solid #000000;
  }
  
  
    .nav-ul_submenu-admin>.nav-link_submenu-admin:before {
      content: "";
      position: absolute;
      z-index: 5;
      left: 50%;
      top: 76%;
      width: 10px;
      height: 32px;
      -webkit-transform: translate(-50%, 20px);
      transform: translate(-50%, 20px);
      opacity: 0;
      -webkit-transition: .2s;
      transition: .2s;
      left: 88px;
      bottom: -12px;
      border: 17px solid transparent;
      border-bottom: 24px solid #F6CA47;
  }
  
    .nav-link_submenu-admin li:hover:before {
      transform: translate(-50%, 0);
      opacity: 1;
    }
    .drop_down .__item-admin li:hover:before {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  


    .nav-link_submenu-admin {
        position: relative;
        padding-top: 33px;
        padding-bottom: 33px;
    }
    
    
    .submenu_admin {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
      -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        background: #000000;
        border-radius: 10px;
      position: absolute;
      top: 67px;
      left: -47%;
      width: 426px;
      z-index: 10;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      padding: 58px 0 44px 32px;
    }
    
    .nav-link_submenu-admin:hover .submenu_admin{
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }

    .__item-admin {
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-right: 26px;
    }

    .drop_down .submenu_admin li a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration: none;
    
    }
    .submenu_admin li {
        margin-bottom: 10px;
    }

    .__item-admin {
        padding-left: 0px;
        margin-left: 5px;
    }

    .header_margin {
        margin-left: 20px;
        margin-right: -26px;
    }

    .header_btn__margin {
        margin-right: 36px;
    }
    
    .header_two .nav-link_submenu .lang_arrow::before {
        left: 125%;
    }

    .nav-ul_submenu .__item {
        margin-right: -4px;
    }

    .nav-link_submenu {
        margin-right: 13px;
    }
    .nav-link_submenu_two {
        margin-right: 0px;
        margin-left: 19px;
    }



    .nav-ul_submenu .nav-link_submenu>.lang_arrow::before {
        position: absolute;
        content: '';
        background: url(../../icons/arrow.svg) no-repeat;
        width: 9px;
        left: 95%;
        top: 43%;
        transition: 0.5s;
        transition-delay: 0.5s;
    }

    
    .submenu li:nth-child(3) {
        margin-bottom: 34px;
    }

    .accordion-button_notification {
        position: relative;
        padding: 0px;
    }
    .accordion-collapse_notification {
        position: absolute;
        background: #000000;
        max-width: 173px;
        z-index: 1;
        right: 40px;
        .accordion-body_notification {
            border-radius: 7px;
            padding: 15px 18px;
        }
        span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
        }
    }
