@media (min-width: 1024px) and (max-width: 1230px) {
    .container {
        max-width: 960px;
    }
    .label_rating {
        margin-right: 13px;
    }
    .main_next_two:after {
    left: 120%;
    }
    .navbar {
        max-width: 40px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .btn-primary {
        margin-left: auto;
    }
    .reviews__wrapper__form {
        max-width: 436px;
    }
    .reviews__wrapper__form_input_name {
        width: 180px;
    }
    .reviews__wrapper__form_input_email {
        width: 226px;
    }
    .vr {
        display: none;
    }
    .blog .card .card-body .btn {
        padding: 17px 82px;
        border-color: #000000;
    }
    .input_wrapper {
        width: 100%;
    }
    .form_input {
        width: 100%;
    }
    .select_wrapper {
        width: 100%;
    }
    .form_select {
        width: 100%;
    }
    .blog_btn::after {
        left: 37.8%;
    }
    .header_three {
        display: block;
    }
    .header_one {
        display: none;
    }
    .header_two {
        display: none;
    }
    .wrapper .title {
        font-size: 32px;
        max-width: 381px;
        line-height: 40px;
    }
    .video_promo {
        max-width: 362px;
    }
    .promo__wrapper {
        height: 372px;
    }
    .promo__wrapper::before {
        height: 70px;
    }
    
    .special__item {
        max-width: 220px;
    }
    .video__item {
        max-width: 300px;
    }
    .special__item::after {
        left: 100%;
    }
    .special__item:nth-child(2):after {
        left: 100%;
    }
    .special__item:nth-child(3):after {
        left: 100%;
    }
    .special__item:nth-child(4):after {
        left: 100%;
    }
    .cart .wrapper .__item {
        max-width: 222px;
    }
    .cart .wrapper .__item:nth-child(4) p {
        margin-left: 10px;
    }
    .cart .wrapper .__item:nth-child(5) {
        max-width: 222px;
    }
    .cart .wrapper .__item:nth-child(6) {
        max-width: 222px;
    }
    .help {
        padding: 11px 10px;
    }
    .footer .wrapper {
        max-width: 205px;
    }
    .footer .wrapper ._items img:nth-child(4) {
        margin-right: 12px;
    }
    .items_menu {
        margin-left: 0px;
    }
    .download a img {
        margin-right: 3px;
    }
    .download a {
        padding: 13px 10px 13px 4px;
    }
    .navbar-toggler {
        border: none;
    }
    .btn-primary {
        margin-right: 20px;
    }

    .navbar-dark .navbar-toggler {
        border-color: none;
        color: none;
        box-shadow: none;
        z-index: 15;
        position: relative;
        padding: 15px 11px;
        background: rgba(223, 223, 223, 0.2);
        border-radius: 7px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

.animated-icon1,
.animated-icon2,
.animated-icon3 {
width: 32px;
height: 24px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
display: block;
position: absolute;
height: 4px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #2d7ef7;
}

.animated-icon2 span {
    background: #F6CA47;
    border-radius: 20px;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 8px;
}

.animated-icon1 span:nth-child(3) {
top: 16px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}


.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}


.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}
.nav-ul_submenu .__item {
    margin-right: 0px;
}
.header_margin {
    margin-right: 0px;
}
.accordion-button_mobil {
    outline: none;
    border: none;
    margin-left: 30px;
}

.header_three .header_phone  .accordion-button::before {
    display: none;
}
.header_phone {
    position: absolute;
    background: #000000;
    z-index: 10;
    top: -300%;
    padding-top: 90px;
    padding-bottom: 65px;
    right: 0px;
    width: 506px;
    transition: .5s linear;
}
.open {
    top: 0px;
}
.nav-link {
    margin-left: 30px;
}
.nav-link_submenu {
    padding-bottom: 0px;
    padding-top: 0px;
}
.header_btn__margin {
    margin-right: 0px;
}
.nav-link_submenu:hover .submenu {
    display: none;
}
.nav-ul_submenu li:hover:before {
    display: none;
}

.accordion-button_mobil {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: none;
    padding: 0px;
}


.accordion-button_mobil:not(.collapsed) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: none;
}


.accordion-item_mobil {
    background: none;
}

.accordion-body {
    background: none;
}

.nav_mobil_menu .submenu_phone li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav_mobil_menu .submenu_phone li a:hover{
    font-weight: 700;
}

.nav_mobil_menu .submenu_phone li {
    margin-bottom: 24px;
}
.nav_mobil_menu .submenu_phone li:nth-child(3){
    margin-bottom: 39px;
}

.submenu_phone {
    padding: 0px;
    margin-left: 26px;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px;
    margin-top: 40px;
}
.drop_down .submenu {
    display: none;
}
.drop_down .__item>li:before {
    display: none;
}
.drop_down {
    margin-top: 40px;
    margin-left: 53px;
}
.header .__item {
    padding-left: 2em;
}

.drop_down a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #F6CA47;
}

.drop_down p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #F6CA47;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-right: 14px;
}

.drop_down .active {
    text-decoration-line: underline;
}
.header_three .header_phone  .accordion-button::after {
    content: url(../../icons/arrow.svg);
    position: absolute;
    margin-left: 19px;
    top: -2px;
    border: none;
    width: 10px;
    height: 1.25rem;
    right: 60px;

}
.header_three .header_phone .accordion-button:not(.collapsed)::after {
    background-image: none;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-180deg);
}
.header_three .header_phone .accordion-button:focus {
    background: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}
.header_three .header_phone .accordion-button {
    width: 50%;
}
.accordion-button_mobil {
    position: relative;
}

.accordion-button_notification{
    margin-left: 0px;
}
.accordion-button_notification:focus {
    background: none;
}
.accordion-button_notification::before {
    display: none;
}
.accordion-button_notification::after {
    display: none;
}
.accordion-button {
    transition: none;
}

.accordion-collapse_notification {
    position: absolute;
    background: #000000;
    border-radius: 7px;
    right: 11%;
    width: 173px;
    z-index: 1;
    top: 14%;
    span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
    }
}
.accordion-body_notification {
    background: #000000;
    border-radius: 7px;
}
.accordion-button_notification {
    font-size: 0px;
    line-height: 0%;
}
.accordion-button_notification:focus {
    font-size: 0px;
    line-height: 0%;
    border: none;
}
.accordion-button_notification:not(.collapsed) {
    font-size: 0px;
    line-height: 0%;
    border: none;
}

}


@media (max-width: 1024px){

    .btn-primary {
        margin-left: auto;
    }
    .btn-primary:focus-visible {
        outline: none;
    }
    .btn-primary {
        margin-right: 20px;
    }
    .header_three .header_phone  .accordion-button::before {
        display: none;
    }
    .header_three .header_phone  .accordion-button::after {
        content: url(../../icons/arrow.svg);
        position: absolute;
        margin-left: 19px;
        border: none;
        width: 10px;
        height: 1.25rem;
        right: 60px;
    
    }
    .header_three .header_phone .accordion-button:not(.collapsed)::after {
        background-image: none;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-180deg);
    }
    .header_three .header_phone .accordion-button:focus {
        background: none;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
    }
    .header_three .header_phone .accordion-button {
        width: 50%;
        padding: 0px;
    }
    .accordion-button_mobil {
        position: relative;
    }
    
    .promo__wrapper::before {
        height: 41px;
        width: 96px;
    }
    
    .promo__wrapper::before {
        content: '';
        position: absolute;
        background-image: -webkit-repeating-radial-gradient(center center, #FF992B, #FF992B 3px, transparent 1px, transparent 100%);
        background-image: repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
        background-size: 12px 10px;
    }
    .main_next_two:after {
        left: 120%;
        }
    .reviews__wrapper__item {
        width: 100%;
    }
    .reviews__wrapper {
        padding: 31px 72px 43px 13px;
    }
    .label_rating {
        margin-right: 29px;
        margin-bottom: 31px;
    }

    .reviews__wrapper__item_checkbox_tabl {
        display: block;
    }
    .reviews__wrapper__item_checkbox_two{
        display: none;
    }
    .vr {
        display: none;
    }
    .reviews__wrapper__form_input_name {
        width: 40%;
    }
    .reviews__wrapper__form_input_email {
        width: 55%;
    }
    .reviews__wrapper__form_input_name {
        margin-right: 29px;
    }
    .reviews__wrapper__item_checkbox {
        margin-top: 18px;
    }
    .reviews__wrapper__form_btn {
        margin-right: 53px;
    }
    .reviews__wrapper__form {
        max-width: 100%;
    }
    .form_inst_item {
        padding: 14px 4px 14px 8px;
    }
    .input_wrapper {
        width: 100%;
    }
    .form_input {
        width: 100%;
    }
    .select_wrapper {
        width: 100%;
    }
    .form_select {
        width: 100%;
    }
    .partner_title h1 {
        font-size: 22px;
        line-height: 27px;
        text-align: left;
    }

    .accordion .faq__subtitle h2 {
        font-size: 16px;
        line-height: 20px;
    }
    .accordion-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .accordion-button:not(.collapsed) {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .accordion-button:focus {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .accordion-body {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .partner_item .__item {
        margin-bottom: 25px;
    }

    .cart .wrapper .__item:nth-child(1) {
        h3 {
            margin-bottom: 40px;
        }
      }
      .cart .wrapper .__item:nth-child(2) {
        h3 {
            margin-bottom: 40px;
        }
      }
    .blog_btn::after {
        left: 37.5%;
    }
    .next_title h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .btn_header__phone {
        display: none;
    }
    .header_three {
        display: block;
    }
    .reviews .__item {
        max-width: 49%;
    }
    .footer_margin {
        padding-right: 0px;
    }
    .footer_item {
        margin-right: 0px;
    }
    .reviews .__item .__descr {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    .reviews .__item .name p:first-child {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .reviews .__item .name p:last-child {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-top: 17px;
        margin-bottom: 35px;
    }
    .reviews .btn-reviews .btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    .blog .card .card-body h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .blog .card .card-body .card-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    .blog .btn-reviews .btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    .icon_social ._item a {
        margin-right: 18px;
    }
    .footer .wrapper {
        margin-bottom: 0px;
    }
    ._item-title ._title {
        margin-bottom: 10px;
    }
    .footer .wrapper ._items {
        margin-top: 26px;
    }
    .footer .wrapper ._items img:nth-child(3) {
        margin-right: 0px;
    }
    .footer .wrapper ._items img:nth-child(6) {
        margin-right: 0px;
    } 
    .footer .wrapper ._items img:nth-child(4) {
        margin-right: 10px;
    }
    .footer .wrapper ._items img {
        margin-right: 10px;
    }
    .blog .card .card-body .btn {
        padding: 17px 50px;
        border-color: #000000;
        margin-right: 0px;
    }
    .header_one {
        display: none;
    }
    .header_two {
        display: none;
    }

    .special__title p {
        font-size: 16px;
        line-height: 20px;
    }
    .special__title h2 {
        font-size: 26px;
        line-height: 32px;
    }

    .special_icons {
        width: 35px;
        display: block;
        margin: 0 auto;
    }

    .special__item h4 {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .special__item p {
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }
    .special__item:hover p {
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }

    .wrapper .__descr p {
        margin-bottom: 35px;
    }
    .btn-primary {
        padding: 15px 30px 15px 23px;
    }

    .promo__wrapper::after {
        display: none;
    }
    .wrapper .title {
        font-size: 30px;
        line-height: 39px;
        max-width: 381px;
    }
    .video_promo {
        max-width: 333px;
    }
    .promo__wrapper {
        height: 372px;
    }
    .special__item {
        max-width: 228px;
    }
    .video__item {
        max-width: 215px;
    }
    .special__item::after {
        left: 100%;
    }
    .special__item:nth-child(2):after {
        left: 100%;
    }
    .special__item:nth-child(3):after {
        left: 100%;
    }
    .special__item:nth-child(4):after {
        left: 100%;
    }
    .cart .wrapper .__item {
        max-width: 228px;
    }
    .cart_img {
        margin-bottom: 10px;

    }
    .cart .wrapper .__item:nth-child(1) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item:nth-child(2) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item:nth-child(3) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item:nth-child(4) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item:nth-child(1)  {
        h3 {
            margin-bottom: 43px;
        }
        .btn_cart {
            margin-top: 37px;
        }
        
    }

    .cart .wrapper .__item:nth-child(2)  {
        h3 {
            margin-bottom: 23px;
        }
        .btn_cart {
            margin-top: 37px;
        }
    }

    .cart .wrapper .__item:nth-child(4)  {
        p {
            margin-left: 10px;
        }
        h3 {
            margin-bottom: 26px;
        }
        .btn_cart {
            margin-top: 53px;
        }
    }
    .cart .wrapper .__item:nth-child(7)  {
        .cart_img {
            margin-bottom: 40px;
        }
        h3 {
            margin-bottom: 59px;
        }
        .btn_cart {
            margin-top: 43px;
        }
    }
    .cart .wrapper .__item:nth-child(8) .btn_cart {
        margin-top: 22px;
    }
    .cart .wrapper .__item:nth-child(11) .btn_cart {
        margin-top: 31px;
    }
    .cart .wrapper .__item h3 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .cart .wrapper .__item35 p {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
    }
    .cart .wrapper .__item {
        padding: 15px 7px 21px 7px;
    }
    .btn_cart {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-top: 0px;
    }
    .services .row .__item h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .services .row .__item p {
        font-size: 12px;
        line-height: 15px;
    }
    .help {
        padding: 11px 10px;
    }
    .footer .wrapper {
        max-width: 205px;
    }
    .items_menu {
        margin-left: 0px;
    }
    .download a img {
        margin-right: 3px;
    }
    .download a {
        padding: 13px 10px 13px 4px;
    }
    .navbar-toggler {
        border: none;
    }

    .navbar-dark .navbar-toggler {
        border-color: none;
        color: none;
        box-shadow: none;
        z-index: 15;
        position: relative;
        padding: 11px 9px;
        background: rgba(223, 223, 223, 0.2);
        border-radius: 7px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

.animated-icon1,
.animated-icon2,
.animated-icon3 {
width: 22px;
height: 18px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
display: block;
position: absolute;
height: 2px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #2d7ef7;
}

.animated-icon2 span {
    background: #F6CA47;
    border-radius: 20px;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 8px;
}

.animated-icon1 span:nth-child(3) {
top: 16px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}


.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
top: 8px;
}

.animated-icon2 span:nth-child(4) {
top: 16px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}


.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}
.header_margin {
    margin-right: 0px;
}
.accordion-button_mobil {
    border: none;
}
.nav-ul_submenu .__item {
    margin-right: 0px;
}
.modal_form__input {
    width: 100%;
}
.navbar {
    max-width: 40px;
    padding-right: 0px;
    padding-left: 0px;
}
.btn_header__phone {
    margin-left: auto;
}
.header_phone {
    position: absolute;
    background: #000000;
    z-index: 10;
    top: -300%;
    padding-top: 90px;
    padding-bottom: 65px;
    right: 0px;
    width: 506px;
    transition: .1s linear;
}
.nav-link_submenu {
    padding-bottom: 0px;
    padding-top: 0px;
}
.header_btn__margin {
    margin-right: 0px;
    padding-right: 0px;
}
.header_position {
    position: relative;
}
.nav-link_submenu:hover .submenu {
    display: none;
}
.nav-ul_submenu li:hover:before {
    display: none;
}

.accordion-button_mobil {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: none;
    padding: 0px;
}

.accordion-button_mobil:not(.collapsed) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: none;
}


.accordion-item_mobil {
    background: none;
}

.accordion-body {
    background: none;
}

.nav_mobil_menu .submenu_phone li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav_mobil_menu .submenu_phone li a:hover{
    font-weight: 700;
}

.nav_mobil_menu .submenu_phone li {
    margin-bottom: 24px;
}
.nav_mobil_menu .submenu_phone li:nth-child(3){
    margin-bottom: 39px;
}
.nav-link {
    margin-left: 30px;
}
.open {
    top: 0%;
}

.drop_down {
    margin-left: 53px;
}
.submenu_phone {
    padding: 0px;
    margin-left: 26px;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px;
    margin-top: 40px;
}
.drop_down .submenu {
    display: none;
}
.drop_down .__item>li:before {
    display: none;
}
.drop_down {
    margin-top: 40px;
}
.header .__item {
    padding-left: 2em;
}

.drop_down a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #F6CA47;
}

.drop_down p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #F6CA47;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-right: 14px;
}

.drop_down .active {
    text-decoration-line: underline;
}
.accordion-button_mobil {
    position: relative;
    margin-left: 30px;
}
.reviews .__item_two {
    max-width: 100%;
}
.accordion-button_notification{
    margin-left: 0px;
}
.accordion-button_notification:focus {
    background: none;
}
.accordion-button_notification::before {
    display: none;
}

}
@media (max-width:992px) {
    .partner_btn {
        font-size: 12px;
        width: 100%;
    }
    .partner {
        padding-bottom: 70px;
        padding-top: 30px;
    }
    .partner_subtitle {
    margin-top: 25px;
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    }
    .styled-checkbox+.reviews_checkbox:before {
        border: 1px solid #F6CA47;
    }
    .btn_cart {
        margin: 0 auto;
    }
    .partner_item {
        margin-bottom: 56px;
    }
    .partner_subtitle h2 {
        text-align: left;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
    .partner_btn {
        padding: 12px 13px;
    }
    .blog_btn::after {
        left: 37.7%;
    }
    .special__item {
        max-width: 170px;
        padding: 16px 13px 22px 13px;
        h4 {
            margin-top: 21px;
        }
    }
    .special__item:nth-child(2) {
        padding: 16px 13px 22px 13px;
        h4 {
            margin-top: 21px;
        }
    }
    .special__item:nth-child(3) {
        p {
            margin-top: 37px;
        }
        padding: 16px 13px 22px 13px;
    }
    .special__item:nth-child(4) {
        padding: 16px 13px 22px 13px;
    }
    .cart .wrapper .__item {
        max-width: 228px;
    }

    .wrapper .__descr p {
        max-width: 100%;
    }
    .cart .wrapper .__item:nth-child(1) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 37px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(2) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 37px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(3) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 37px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(4) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 37px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(5) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(6) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 37px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(7) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 37px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(8) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 37px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(9) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(10) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        .cart_img {
            margin-bottom: 32px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(11) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item:nth-child(12) {
        max-width: 170px;
        padding: 21px 4px 21px 5px;
        h3 {
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 21px;
        }
        .btn_cart {
            margin-top: 0px;
        }
    }
    .cart .wrapper .__item_two:nth-child(2) p {
        margin-bottom: 30px;
    }
    .cart .wrapper .__item_two:nth-child(1) p {
        margin-bottom: 30px;
    }
    .cart .wrapper .__item_two:nth-child(1) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item_two:nth-child(2) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item_two:nth-child(3) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item_two:nth-child(4) .cart_img {
        margin-bottom: 10px;
    }
    .cart .wrapper .__item_two:nth-child(1) p{
        margin-bottom: 20px;
    }
    .cart .wrapper .__item_two:nth-child(2) p{
        margin-bottom: 20px;
    }
    .cart .wrapper .__item_two:nth-child(1) p:last-child{
        margin-bottom: 30px;
    }
    .cart .wrapper .__item_two:nth-child(2) p:last-child{
        margin-bottom: 30px;
    }
    .cart .wrapper .__item_two:nth-child(3) p{
        margin-bottom: 20px;
    }
    .cart .wrapper .__item_two:nth-child(4) p{
        margin-bottom: 20px;
    }
    .cart .wrapper .__item_two:nth-child(2) h3 {
        margin-bottom: 40px;
    }
    .cart .wrapper .__item_two:nth-child(1) h3 {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .reviews .__item {
        max-width: 100%;
    }
    .reviews .__item .__descr p {
        font-size: 12px;
    }
    .partner_btn {
        font-size: 12px;
        padding: 12px 50px;
    }
    .btn-primary {
        padding: 10px 8px 9px 5px;
        font-size: 12px;
    }
    .slider .checkbox-ya-feature:before {
        font-size: 14px;
    }
    .slider .checkbox-ya-feature:after {
        font-size: 14px;
    }
    .slider.round:before {
        width: 50%;
    }
    .modal-dialog {
        max-width: 545px;
    }
    .modal_form__items_btn_one {
        margin-right: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    .modal_form__items_btn {
        width: 100%;
    }
    .modal-title  {
        font-size: 32px;
    }
    .descr_modal p {
        font-size: 16px;
    }
    .accordion-button {
        padding: 13px 17px 13px 31px;
    }
    .accordion-button::before {
        height: 27px;
    }
    .accordion-button::after {
        width: 27px;
    }
    .cart .wrapper .__item:nth-child(4) .cart_img {
        margin-bottom: 37px;
    }
    .reviews__wrapper__form_btn {
        margin-right: 26px;
    }
    .reviews__wrapper__form_input_name {
        margin-right: 28px;
    }
    .reviews__wrapper__form_input_email {
        width: 53%;
    }
    .reviews__wrapper__form_btn {
        font-size: 18px;
        padding: 15px 33px;
    }
    .reviews__next {
        display: none;
    }
    .btn__item_blog {
        margin-right: 19px;
        font-size: 14px;
        white-space: nowrap;
    }
    .btn__item_blog:nth-child(4) {
        padding: 9px 16px;
    }
    .btn__item_blog:nth-child(1) {
        padding: 9px 16px;
    }
    .btn__item_blog:nth-child(2) {
        padding: 9px 16px;
    }
    .btn__item {
        display: flex;
        flex-flow: row nowrap;
        max-height: 50px;
        overflow-x: auto;
        padding-bottom: 10px;
        visibility: visible;
        width: calc(100% + 8px);
    }
    .__item-img {
        display: none;
    }
    .main {
        margin-top: 0px;
    }
    .blog_btn::before {
        left: 36.2%;
    }
    .blog_btn::after {
        left: 33.5%;
        font-size: 30px;
        top: 30%;
    }
    .offer__title h1 {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
    }
    .offer__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    .offer__descr {
        font-size: 14px;
        line-height: 17px;
        text-align: justify;
    }
    .promo__wrapper .wrapper {
        padding-top: 30px;
    }
    .wrapper .title {
        text-align: center;
    }

    .wrapper .title {
        max-width: 383px;
        margin: 0 auto;
    }
    .video_promo {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    .special__item {
        margin-bottom: 46px;
        margin-left: 0px;
        max-width: 222px;
    }
    .services .row .__item {
        img {
            margin-bottom: 20px;
            margin-top: 32px;
        }
    }
    .video {
        display: none;
    }
    .blog .card:nth-child(3) {
        display: none;
    }
    ._item-title ._title {
        margin-top: 30px;
    }
    .blog_news .card:nth-child(3) {
        display: block;
    }
    .blog_news .card .card-body .btn {
        padding: 17px 22px;
    }
    .cart .wrapper .__item_two:nth-child(1) {
        max-width: 49%;
    }
    .cart .wrapper .__item_two:nth-child(2) {
        max-width: 49%;
    }
    .cart .wrapper .__item_two:nth-child(3) {
        max-width: 49%;
    }
    .cart .wrapper .__item_two:nth-child(4) {
        max-width: 49%;
    }
    .cart .wrapper .__item_two:nth-child(4) .cart_img {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .styled-checkbox:checked+label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 14px;
        background: black;
        width: 2px;
        height: 2px;
        -webkit-box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
        box-shadow: -2px 0 0 black, -3px 0 0 black, 0px -2px 0 black, 0px -4px 0 black, 0px -6px 0 black, 0px -8px 0 black;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .reviews .__item .__descr p {
        font-size: 12px;
    }
    .reviews .__item {
        max-width: 100%;
    }
    .modal_checkbox label {
        margin-bottom: 22px;
    }
    .descr_modal {
        margin-bottom: 22px;
    }
    .modal-dialog {
        max-width: 354px;
        margin: 0.5em auto;
    }
    .social_modal a {
        margin-right: 9px;
    }
    .offer__descr {
        margin-left: 15px;
    }
    .offer__title h1 {
        margin-bottom: 0px;
    }
    .offer {
        padding-top: 25px;
    }
    .btn_cart {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .blog .card .card-body .card-text {
        font-size: 11px;
    }
    .blog .card .card-body h5 {
        max-width: 159px;
        margin-top: 10px;
    }
    .card-body {
        padding: 0px;
    }
    .reviews .__item .name p:last-child {
        margin-bottom: 11px;
    }
    .reviews .special__title {
        margin-bottom: 20px;
    }
    .stars img {
        width: 17px;
    }
    .special__title p span {
        width: 14px;
    }
    .reviews {
        padding-top: 10px;
    }
    .cart {
        padding-top: 29px;
        padding-bottom: 27px;
    }
    .services {
        padding-top: 18px;
        padding-bottom: 20px;
    }
    .services .row .__item h3 {
        margin-bottom: 15px;
    }
    .cart .wrapper .__item {
        margin-bottom: 10px;
    }
    .accordion-button_mobil {
        font-size: 14px;
    }
    .accordion-button_mobil:not(.collapsed) {
        font-size: 14px;
    }
    .logo_promo {
        width: 140px;
    }
    .header_three .header_phone .accordion-button {
        width: 239px;
    }
    .header_three .header_phone .accordion-button:focus-visible {
        outline: none;
    }
    .header_phone {
        width: 80%;
    }
    .submenu_phone {
        margin-left: 0px;
    }
    .drop_down {
        margin-left: 24px;
    }
    .accordion-button_mobil {
        margin-left: 5px;
    }
    .nav-link {
        margin-left: 5px;
    }
    .modal_form__items {
        width: 100%;
    }
    .form_select_cart {
        padding: 17px 20px;
    }
    .form_option_cart {
        font-size: 12px;
    }
    .modal-body {
        padding: 0px 11px 0px 11px;
    }
    .modal_form__input {
        padding: 17px 20px;
    }
    .pass a {
        font-size: 15px;
    }
    .modal_form__items_btn {
        font-size: 15px;
        padding: 14px 84px;
    }
    .modal_form__items_btn_one {
        font-size: 15px;
        padding: 14px 84px;
    }
    .pass {
        margin-top: 22px;
        margin-bottom: 24px;
    }
    .modal_form__input::placeholder {
        font-size: 12px;
    }
    .styled-checkbox+label:before {
        margin-right: 7px;
        width: 15px;
        height: 15px;
    }
    .modal_checkbox label {
        font-size: 12px;
    }
    .descr_modal p {
        font-size: 14px;
    }
    .social_modal {
        padding-left: 32px;
        padding-right: 32px;
    }
    .modal-title {
        font-size: 15px;
    }
    .form_inst_item {
        border-radius: 0px;
    }
    .accordion-button {
        padding: 13px 19px 13px 31px;
    }
    .accordion-button::before {
        height: 24px;
    }
    .accordion-button::after {
        width: 24px;
    }
    .partner .__item {
        margin-right: 0px;
        max-width: 50%;
    }
    .cart .wrapper .__item:nth-child(1) {
        max-width: 49%;
        h3 {
            max-width: 150px;
            margin-bottom: 20px;
        }
    }
    .footer .row {
            --bs-gutter-x: 0;
    }
    .footer .wrapper ._items img:nth-child(4) {
        margin-right: 0px;
    }
    .footer .wrapper ._items img {
        margin-right: 0px;
    }
    .wrapper_descr .__descr ul li::marker {
        width: 4px;
    }
    .help {
        max-width: 88%;
        padding: 11px 14px;
        font-size: 12px;
        line-height: 15px;
    }
    .wrapper_descr .__descr ul li::before {
        top: 6px;
    }
    .cart .wrapper .__item:nth-child(2) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(3) {
        h3 {
            max-width: 150px;
        }
        
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(4) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(5) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(6) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(7) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(8) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(9) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(10) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(11) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(12) {
        h3 {
            max-width: 150px;
        }
        max-width: 49%;
    }

    .reviews__wrapper__form_btn {
        width: 100%;
        margin-right: 0px;
        
    }
    .rating_block {
        margin-left: 0px;
    }
    .reviews__wrapper__item p {
        margin-left: 0px;
    }
    .reviews__wrapper__item_checkbox {
        width: 100%;
        margin-left: 0px;
    }
    .reviews__wrapper {
        padding: 29px 14px 19px 14px;
    }
    .reviews__wrapper__form_input_name {
        width: 100%;
        margin-right: 0px;
    }
    .reviews__wrapper__form_input_email {
        width: 100%;
    }
    .btn__item_blog:nth-child(3) {
        padding: 9px 16px;
    }
    .btn__item_blog:nth-child(5) {
        padding: 9px 16px;
    }
    .wrapper_descr p {
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }
    .form_inst_item {
        border-radius:none;
    }
    .main_next {
        font-size: 12px;
    }
    .main_descr {
        font-size: 12px;
    }
    .btn-reviews .btn {
        max-width: 100%;
    }
    .partner_title h1 {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
    }
    .partner_descr p {
        font-size: 14px;
        line-height: 17px;
    }
    .partner_subtitle {
        display: none;
    }
    .partner_btn {
        padding: 12px 11px;
        font-size: 12px;
        line-height: 15px;
        width: 100%;
    }
    .blog_btn::after {
        left: 33.5%;
        font-size: 25px;
        top: 25%;
    }
    .btn__item {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .reviews .__item_two .__descr p {
        font-size: 12px;
    }
    .reviews .__item_two {
        margin-bottom: 36px;
    }
    .reviews {
        padding-bottom: 33px;
    }
    .reviews .__item_two .name p:last-child {
        margin-bottom: 35px;
        margin-top: 17px;
    }
    .special__title h2 {
        font-size: 18px;
    }
    .btn_header__phone {
        background: #2D2D2D;
        border-radius: 7px;
        outline: none;
        padding: 6px 10px;
        display: flex;
        border: none;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
    }
    .video_promo {
        width: 90%;
    }
    .promo {
        background: #F7D04C;
    }
    .btn-primary {
        display: none;
    }
    .wrapper .__descr p {
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }
    .special__item {
        max-width: 49%;
    }
    .reviews .btn-reviews .btn {
        max-width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .blog {
        padding-bottom: 50px;
    }
    .blog .btn-reviews .btn {
        max-width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .nav .wrapper ._item a {
        font-size: 12px;
        line-height: 15px;
    }
    .blog .card .card-body .btn {
        padding: 10px 10px;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
    }
    .promo__wrapper::before {
        height: 27px;
        left: -18px;
        width: 63px;
    }
    .promo__descr {
        padding-bottom: 24px;
    }
    .special {
        padding: 25px 0 21px 0px;
    }
    .special__item:nth-child(3) {
        margin-bottom: 0px;
    }
    .special__item:nth-child(4) {
        margin-bottom: 0px;
    } 
    .special__wrapper {
        margin-top: 30px;
    }
    .special__title p {
        margin-bottom: 0px;
    }
    .wrapper .__descr p {
        margin-bottom: 15px;
    }
    .footer_item {
        margin-right: 0px;
    }
    .items_menu .nav {
        margin-right: 0px;
    }
    .promo__wrapper::before {
        content: '';
        position: absolute;
        background-image: -webkit-repeating-radial-gradient(center center, #FF992B, #FF992B 2px, transparent 2px, transparent 100%);
        background-image: repeating-radial-gradient(center center, #FF992B, #FF992B 2px, transparent 2px, transparent 100%);
        background-size: 8px 9px;
    }
    .blog .card .card-body .btn {
        display: block;
    }
    .blog_news .card:nth-child(3) {
        display: block;
    }
    .cart .wrapper .__item_two:nth-child(2) h3 {
        margin-bottom: 20px;
    }
    .promo__descr_next .wrapper .__descr:first-child p:first-child {
        margin-bottom: 15px;
    }
    .promo__descr_next .wrapper .__descr:last-child p:first-child {
        margin-bottom: 15px;
    }
    .next_title__inst {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .next_title h2 {
        margin-bottom: 16px;
        font-size: 15px;
    }
    .wrapper_descr__inst {
        margin-bottom: 39px;
    }
}

@media (max-width: 400px) {
    .wrapper .title {
        max-width: 284px;
    }
    .header_phone {
        width: 90%;
    }
    .btn_header__phone {
        padding: 3px 6px;
    }
    .help {
        max-width: 88%;
        padding: 11px 3px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        img {
            margin-right: 0px;
        }
    }
    ._item-title ._title {
        font-size: 15px;
    }
    .cart .wrapper .__item:nth-child(1) {
        max-width: 49%;
        h3 {
            margin-bottom: 20px;
        }
    }
    .cart .wrapper .__item:nth-child(2) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(3) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(4) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(5) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(6) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(7) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(8) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(9) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(10) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(11) {
        max-width: 49%;
    }
    .cart .wrapper .__item:nth-child(12) {
        max-width: 49%;
    }
    .label_rating {
        margin-right: 13px;
    }
    .blog_btn::before {
        left: 25.2%;
    }
    .blog_btn::after {
        left: 28.5%;
    }

    .blog .card .card-body .btn {
        padding: 17px 10px;
    }
    .help {
        font-size: 11px;
    }
    .icon_social ._item a {
        margin-right: 15px;
    }
    .btn-reviews .btn {
        padding: 16px 10px;
    }
    .cart .wrapper .__item {
        max-width: 165px;
    }
    .special__item {
        padding: 19px 10px 15px 10px;
        max-width: 49%;
    }
    .wrapper .title {
        font-size: 22px;
    }
    .promo {
        background: #F7D04C;
        padding: 0px 24px 0px 26px;
    }
    .cart .wrapper .__item {
        max-width: 145px;
    }
    .promo__wrapper {
        height: 332px;
    }

    
}