.next_inst {
    background: none;
    padding-top: 80px;
}

.next_inst .wrapper .__item:nth-child(1) .cart_img img {
    background: none;
    padding: 0;
}

.next_inst .wrapper .__item:nth-child(2) .cart_img img {
    background: none;
    padding: 0;
}
.next_inst .wrapper .__item:nth-child(3) .cart_img img {
    background: none;
    padding: 0;
}
.next_inst .wrapper .__item:nth-child(4) .cart_img img {
    background: none;
    padding: 0;
}


.next_title h2{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #08193A;
    margin-bottom: 56px;
}

.wrapper_descr p{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.wrapper_descr {
    margin-bottom: 180px;
}

.wrapper_descr .__descr ul li{
    list-style-type: disc;
}


.promo__descr_next .wrapper .__descr:first-child p:first-child {
    margin-bottom: 35px;
}

.promo__descr_next .wrapper .__descr:last-child p:first-child {
    margin-bottom: 53px;
}

.form_inst_item {
    background: #F6CA47;
    border-radius: 7px;
    padding: 14px 20px 14px 102px;
    margin-bottom: 70px;
}

.__item-img {
    max-width: 446px;
    height: 374px;
}


.form_select {
    background: #FFFFFF;
    border: 1px solid #F6CA47;
    border-radius: 7px;
    width: 577px;
    padding: 17px 24px 18px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba($color: #000000, $alpha: 0.3);
    margin-bottom: 35px;
}

.form_select:active {
    border: 1px solid #F6CA47;
}

.form_select:focus-visible {
    outline: none;
}
.form_option {
    color: rgba($color: #000000, $alpha: 1);
    border: 1px solid #F6CA47;
    border-radius: 7px;
}

.form_option:active {
    border: none;
}

.form_input {
    background: #FFFFFF;
    border: 1px solid #F6CA47;
    border-radius: 7px;
    width: 577px;
    padding: 17px 24px 18px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 35px;
    position: relative;
}

.form_input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba($color: #000000, $alpha: 0.3);
}

.form_input:focus-visible {
    border: 1px solid #F6CA47;
    outline: none;
}


.inst_form-btn {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding: 13px 55px;
}

.form_select::-ms-expand {
    display: none;
  }

  .form_select[rel="hide"] {
    display: none;
  }

  .form_select {
    appearance: none;
    position: relative;
  }

  .select_wrapper {
    position: relative;
  }

  .select_wrapper::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 25%;
    right: 24px;
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px);
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: .2s;
    bottom: -12px;
    border: 7px solid transparent;
    border-bottom: 10px solid #000000;
    border-radius: 3px;
    transform: rotate(180deg);
  }


  .input_wrapper {
    position: relative;
  }
  .input_wrapper::after {
    content: '';
    position: absolute;
    background: url(../../icons/input.svg) no-repeat;
    width: 18px;
    height: 20px;
    top: 20%;
    right: 20px;
  }