.promo {
    padding: 33px 24px 0px 26px;
}

.promo__wrapper {
    background: #F7D04C;
    max-width: 1350px;
    height: 472px;
    border-radius: 13px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.promo__wrapper::before {
    content: '';
    position: absolute;
    background-image: -webkit-repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 20px 18px;
    width: 158px;
    height: 117px;
    bottom: 0px;
    left: 5%;
}

.promo__wrapper::after {
    content: '';
    position: absolute;
    background-image: -webkit-repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #FF992B, #FF992B 5px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 20px 17px;
    width: 75px;
    height: 70px;
    top: 3px;
    right: 5px;
}

.promo__wrapper .wrapper {
    padding-top: 95px;
}

.video_promo {
    max-width: 478px;
    border-radius: 7px;
    margin-left: 4px;
}

.wrapper .title {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    color: #000000;
    max-width: 620px;
}
.wrapper .__descr p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #000000;
    max-width: 584px;
}



.promo__descr {
    background: rgba(217, 217, 217, 0.1);
    padding-top: 36px;
    padding-bottom: 31px;
    width: 100%;
}

.promo__descr_next {
    padding-top: 54px;
}

.main_a_next {
    display: flex;
    flex-direction: column;
    a {
        margin-bottom: 40px;
    }
}