.reviews .__item .name p:first-child {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}

.reviews .__item .name p:last-child {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 32px;
}


.reviews .__item .__descr p{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.reviews .__item {
    background: rgba(246, 202, 71, 0.05);
    border-radius: 7px;
    max-width: 609px;
    margin-bottom: 11px;
    padding: 21px 23px 29px 30px;
}
.reviews .__item_two {
    background: rgba(246, 202, 71, 0.05);
    border-radius: 7px;
    max-width: 609px;
    margin-bottom: 11px;
    padding: 21px 19px 29px 23px;
    margin-top: -25px;
    margin-bottom: 84px;
    .name p:first-child {
        margin-bottom: 5px;
    }
    .name p:last-child {
        margin-bottom: 35px;
    }
    .__descr p {
        max-width: 100%;
        font-size: 16px;
    }
}

.stars__reviews {
    img {
        margin-top: -10px;
    }
}

.reviews .special__title {
    margin-bottom: 60px;
}

.btn-reviews .btn {
    max-width: 380px;
    padding: 16px 86px;
    background: #F6CA47;
    border: 1px solid #000000;
    border-radius: 3px;
}

.stars img {
    margin-left: 7px;
    margin-bottom: 9px;
}

.stars img:first-child {
    margin-left: 0px;
}

.special__title p span {
     margin-left: 15px;
}


.reviews__wrapper {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 49px 3px 33px 103px;
    &__form {
        max-width: 687px;
        margin-right: 33px;
        padding-left: 0px;
        padding-right: 0px;
        &_text {
            width: 687px;
            max-height: 139px;
        }
        &_input {
            background: #FFFFFF;
            border: 1px solid #F6CA47;
            border-radius: 7px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 37px;
            &_name {
                padding: 15px 20px;
                width: 277px;
                margin-right: 30px;
            }
            &_email {
                padding: 15px 25px;
                width: 380px;
            }
        }
        &_input::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            opacity: 0.2;
        }
        &_input:focus-visible {
            border: 1px solid #F6CA47;
            outline: none;
        }
        &_text {
            background: #FFFFFF;
            border: 1px solid #F6CA47;
            border-radius: 7px;
            padding: 23px 29px;
            margin-bottom: 37px;
        }
        &_text::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            opacity: 0.2;
        }
        &_text:focus-visible {
            border: 1px solid #F6CA47;
            outline: none;
        }
        &_btn {
            background: #F6CA47;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 7px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            padding: 15px 48px;
        }
    }
    &__item {
        margin-left: 7px;
        padding-left: 0px;
        padding-right: 0px;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.6);
            margin-bottom: 0px;
            margin-left: 25px;
        }
        &_stars {
            margin-top: 18px;
            img {
                margin-right: 22px;
            }
        }
        &_checkbox {
            margin-top: 145px;
            margin-left: 25px;
        }
    }
}

.reviews__wrapper__item_stars img:last-child {
    margin-right: 0px;
}


input[type="checkbox" i] {
    width: 24px;
    height: 24px;
    border: 1px solid #F6CA47;
    cursor: pointer;
    background-color: #F6CA47;
    margin-right: 21px;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;
   
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
   
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      width: 24px;
    height: 24px;
    border: 1px solid #F6CA47;
    cursor: pointer;
    }
   
    &:hover + label:before {
      background: white;
    }
    
   
    &:checked + label:before {
        background: white;
    }
    
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
   
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
   
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 12px;
      background: black;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 black,
        4px 0 0 black,
        4px -2px 0 black,
        4px -4px 0 black,
        4px -6px 0 black,
        4px -8px 0 black;
        
      transform: rotate(45deg);
    }
  }
   
   
  .unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
   

.vr {
    background: rgba(246, 202, 71, 0.2);
    opacity: 1;
}



.reviews__promo .__item {
    max-width: 100%;
}

.reviews__next {
    margin-top: 69px;
}
.reviews__wrapper__item_checkbox_tabl {
    display: none;
}


  .rating_block input[type="radio"] {
    display: none;
  }
  .rating_block{
    float: left;
    max-width: 94%;
    margin-left: 27px;
  }
  .label_rating {
    float: right;
    display: block;
    width: 35px;
    height: 37px;
    background: url(../../icons/stars_two.svg) no-repeat 50% 0;
    cursor: pointer;
    margin-right: 28px;
  }

  .rating_block .label_rating:hover,
  .rating_block .label_rating:hover ~ .label_rating,
  .rating_block input[type="radio"]:checked ~ .label_rating
  {
    display: block;
    background: url(../../icons/stars.svg) no-repeat ;
    background-size: 100%;
    width: 35px;
    height: 35px;
  }

  .vr {
    padding: 0px;
  }

  .partner_title__reviews {
    h1 {
        text-align: left;
    }
  }


  .reviews{
    padding-top: 43px;
  }

  .reviews__promo {
    padding-bottom: 172px;
    padding-top: 0px;
}

  .reviews__wrapper__item_checkbox_btn {
    margin-top: 0px;
    margin-left: 0px;
  }

  .styled-checkbox+.reviews_checkbox:before {
    border: 1px solid #F6CA47;
}