.services .row .__item p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.services {
    padding-top: 120px;
    padding-bottom: 65px;
}

.services .row .__item {
    max-width: 583px;
}

.services .row .__item h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 30px;
}